body {
	background: #e8eaf6;
	-webkit-font-smoothing: antialiased;
}

.photoContainer {
	display: inline-block;
	position: relative;
	overflow: hidden;
	min-width: 25%;
	min-height: 25%;
}

.photoContainer .image {
	object-fit: cover;
}

.photoContainer .imageInner {
	position: absolute;
	display: inline-block;
	height: 100%;
	width: 100%;
	top: 0;
	right: -50%;
	-ms-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
}

.showTitle {
	top: 10px;
}

.photoContainer .imageTitle {
	position: absolute;
	top: 0;
	height: 50px;
	width: 100%;
	opacity: 0;
	z-index: 1;
	pointer-events: none;
	background: linear-gradient(to top, transparent 0%, rgba(0,0,0,0.6) 100%); // Safari 3.1 to 6.0
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.2s;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	// Standard
	transition-property: opacity;
	transition-duration: 0.2s;
}

.photoContainer:hover .imageTitle {
	opacity: 1;
}

.photoContainer .imageTitle span {
	position: absolute;
	font-size: 16px;
	margin-left: 10px;
	color: white;
	top: 0;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-moz-transition-property: top;
	-moz-transition-duration: 0.2s;
	// Safari 3.1 to 6.0
	-webkit-transition-property: top;
	-webkit-transition-duration: 0.2s;
	// Standard
	transition-property: top;
	transition-duration: 0.2s;
}

.photoContainer:hover .imageTitle span {
	top: 10px;
}

.photoContainer .imageDescription {
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;
	opacity: 0;
	z-index: 1;
	pointer-events: none;
	background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.6) 100%);
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.2s;
	// Safari 3.1 to 6.0
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	// Standard
	transition-property: opacity;
	transition-duration: 0.2s;
}

.photoContainer:hover .imageDescription {
	opacity: 1;
}

.photoContainer .imageDescription span {
	position: absolute;
	font-size: 16px;
	margin-left: 10px;
	color: white;
	bottom: 0;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-moz-transition-property: bottom;
	-moz-transition-duration: 0.2s;
	// Safari 3.1 to 6.0
	-webkit-transition-property: bottom;
	-webkit-transition-duration: 0.2s;
	// Standard
	transition-property: bottom;
	transition-duration: 0.2s;
}

.photoContainer:hover .imageDescription span {
	bottom: 10px;
}

.photoContainer .image {
	position: relative;
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
}

.fullHeight {
	height: 100%;
}

.fullWidth {
	width: 100%;
}

.Select-menu-outer {
	left: 0;
}

.lightbox_image_caption a {
	word-break: break-word;
}

.footerBackground {
	color: black;
	position: relative;
	font-size: 20px;
	background-color: white;
	width: 100%;
	padding: 15px;
	border-radius: 2px;
	display: inline-block;
	overflow: auto;
	margin: 1rem;
	height: auto;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	@media only screen and (max-width : 750px) {
		max-height: 15vh;
	}
	@media screen and (min-width:750px) and (max-width:1000px) {
		max-height: 15vh;
	}
	@media screen and (min-width:1000px) and (max-width:1440px) {
		max-height: 1vh;
	}
	@media screen and (min-width:1440px) and (max-width:1670px) {
		max-height: 5vh;
	}
	@media screen and (min-width:1670px) and (max-width:2500px) {
		max-height: 15vh;
	}
}

.footerBackground:after {
	content: "";
	display: block;
}

.center {
	fill: rgb(98, 98, 98);
	position: relative;
}

.center svg {
	width: 64px;
	height: 64px;
	position: absolute;
	left: 50%;
	bottom: 0;
	-ms-transform: translate(-50%, 50%);
	/* IE 9 */
	-webkit-transform: translate(-50%, 50%);
	/* Safari */
	transform: translate(-50%, 50%);
}

.photoThumbnails {
	left: 50%;
	-ms-transform: translateX(-50%);
	/* IE 9 */
	-webkit-transform: translateX(-50%);
	/* Safari */
	transform: translateX(-50%);
}

.footer {
	position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: right;
	font-size: 60%;
	opacity: 0.5;
}
