body {
	background: #e8eaf6;
	-webkit-font-smoothing: antialiased;
}

.photoContainer {
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: fit-content;
	height: fit-content;
}

.photoContainer .image {
	object-fit: cover;
}

.photoContainer .imageInner {
	position: absolute;
	display: inline-block;
	height: 100%;
	width: 100%;
	top: 0;
	right: -50%;
	-ms-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
}

.showTitle {
	top: 10px;
}

.photoContainer .imageTitle {
	position: absolute;
	top: 0;
	height: 50px;
	width: 100%;
	opacity: 0;
	z-index: 1;
	pointer-events: none;
	background: linear-gradient(to top, transparent 0%, rgba(0,0,0,0.6) 100%); // Safari 3.1 to 6.0
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.2s;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	// Standard
	transition-property: opacity;
	transition-duration: 0.2s;
}

.photoContainer:hover .imageTitle {
	opacity: 1;
}

.photoContainer .imageTitle span {
	position: absolute;
	font-size: 16px;
	margin-left: 10px;
	color: white;
	top: 0;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-moz-transition-property: top;
	-moz-transition-duration: 0.2s;
	// Safari 3.1 to 6.0
	-webkit-transition-property: top;
	-webkit-transition-duration: 0.2s;
	// Standard
	transition-property: top;
	transition-duration: 0.2s;
}

.photoContainer:hover .imageTitle span {
	top: 10px;
}

.photoContainer .imageDescription {
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;
	opacity: 0;
	z-index: 1;
	pointer-events: none;
	background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.6) 100%);
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.2s;
	// Safari 3.1 to 6.0
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	// Standard
	transition-property: opacity;
	transition-duration: 0.2s;
}

.photoContainer:hover .imageDescription {
	opacity: 1;
}

.photoContainer .imageDescription span {
	position: absolute;
	font-size: 16px;
	margin-left: 10px;
	color: white;
	bottom: 0;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-moz-transition-property: bottom;
	-moz-transition-duration: 0.2s;
	// Safari 3.1 to 6.0
	-webkit-transition-property: bottom;
	-webkit-transition-duration: 0.2s;
	// Standard
	transition-property: bottom;
	transition-duration: 0.2s;
}

.photoContainer:hover .imageDescription span {
	bottom: 10px;
}

.photoContainer .image {
	position: relative;
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
}

.fullHeight {
	height: 100%;
}

.fullWidth {
	width: 100%;
}

.Select-menu-outer {
	left: 0;
}

.lightbox_image_caption a {
	word-break: break-word;
}
// React-select
/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/JedWatson/react-select
*/
.Select {
	position: relative;
}

.Select,
.Select div,
.Select input,
.Select span {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.Select.is-disabled > .Select-control {
	background-color: #f9f9f9;
}

.Select.is-disabled > .Select-control:hover {
	box-shadow: none;
}

.Select.is-disabled .Select-arrow-zone {
	cursor: default;
	pointer-events: none;
	opacity: 0.35;
}

.Select-control {
	background-color: #fff;
	border-style: inset;
	color: #333;
	cursor: default;
	display: table;
	border-spacing: 0;
	border-collapse: separate;
	height: 43px;
	outline: none;
	overflow: hidden;
	position: relative;
	width: 100%;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.Select-control:hover {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Select-control .Select-input:focus {
	outline: none;
}

.is-searchable.is-open > .Select-control {
	cursor: text;
}

.is-open > .Select-control {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background: #fff;
	border-color: #b3b3b3 #ccc #d9d9d9;
}

.is-open > .Select-control .Select-arrow {
	top: -2px;
	border-color: transparent transparent #999;
	border-width: 0 5px 5px;
}

.is-searchable.is-focused:not(.is-open) > .Select-control {
	cursor: text;
}

.is-focused:not(.is-open) > .Select-control {
	border-color: #007eff;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
}

.Select--single > .Select-control .Select-value,
.Select-placeholder {
	bottom: 0;
	color: #aaa;
	left: 0;
	line-height: 34px;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	right: 0;
	top: 0;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
	color: #333;
}

.has-value.Select--single > .Select-control .Select-value a.Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
	cursor: pointer;
	text-decoration: none;
}

.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover {
	color: #007eff;
	outline: none;
	text-decoration: underline;
}

.Select-input {
	height: 34px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}

.Select-input > input {
	width: 100%;
	background: none transparent;
	border: 0 none;
	box-shadow: none;
	cursor: default;
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	outline: none;
	line-height: 14px;
	/* For IE 8 compatibility */
	padding: 8px 0 12px;
	/* For IE 8 compatibility */
	-webkit-appearance: none;
}

.is-focused .Select-input > input {
	cursor: text;
}

.has-value.is-pseudo-focused .Select-input {
	opacity: 0;
}

.Select-control:not(.is-searchable) > .Select-input {
	outline: none;
}

.Select-loading-zone {
	cursor: pointer;
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 16px;
}

.Select-loading {
	-webkit-animation: Select-animation-spin 400ms infinite linear;
	-o-animation: Select-animation-spin 400ms infinite linear;
	animation: Select-animation-spin 400ms infinite linear;
	width: 16px;
	height: 16px;
	box-sizing: border-box;
	border-radius: 50%;
	border: 2px solid #ccc;
	border-right-color: #333;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.Select-clear-zone {
	-webkit-animation: Select-animation-fadeIn 200ms;
	-o-animation: Select-animation-fadeIn 200ms;
	animation: Select-animation-fadeIn 200ms;
	color: #999;
	cursor: pointer;
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 17px;
}

.Select-clear-zone:hover {
	color: #D0021B;
}

.Select-clear {
	display: inline-block;
	font-size: 18px;
	line-height: 1;
}

.Select--multi .Select-clear-zone {
	width: 17px;
}

.Select-arrow-zone {
	cursor: pointer;
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 25px;
	padding-right: 5px;
}

.Select-arrow {
	border-color: #999 transparent transparent;
	border-style: solid;
	border-width: 5px 5px 2.5px;
	display: inline-block;
	height: 0;
	width: 0;
	position: relative;
}

.Select-arrow-zone:hover > .Select-arrow,
.is-open .Select-arrow {
	border-top-color: #666;
}

.Select--multi .Select-multi-value-wrapper {
	display: inline-block;
}

.Select .Select-aria-only {
	display: inline-block;
	height: 1px;
	width: 1px;
	margin: -1px;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
	float: left;
}
@-webkit-keyframes Select-animation-fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
@keyframes Select-animation-fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.Select-menu-outer {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-top-color: #e6e6e6;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	box-sizing: border-box;
	margin-top: -1px;
	max-height: 200px;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 2;
	-webkit-overflow-scrolling: touch;
}

.Select-menu {
	max-height: 198px;
	overflow-y: auto;
}

.Select-option {
	box-sizing: border-box;
	background-color: #fff;
	color: #666666;
	cursor: pointer;
	display: block;
	padding: 8px 10px;
}

.Select-option:last-child {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.Select-option.is-selected {
	background-color: #f5faff;
	/* Fallback color for IE 8 */
	background-color: rgba(0, 126, 255, 0.04);
	color: #333;
}

.Select-option.is-focused {
	background-color: #ebf5ff;
	/* Fallback color for IE 8 */
	background-color: rgba(0, 126, 255, 0.08);
	color: #333;
}

.Select-option.is-disabled {
	color: #cccccc;
	cursor: default;
}

.Select-noresults {
	box-sizing: border-box;
	color: #999999;
	cursor: default;
	display: block;
	padding: 8px 10px;
}

.Select--multi .Select-input {
	vertical-align: middle;
	margin-left: 10px;
	padding: 0;
}

.Select--multi.has-value .Select-input {
	margin-left: 5px;
}

.Select--multi .Select-value {
	background-color: #ebf5ff;
	/* Fallback color for IE 8 */
	background-color: rgba(0, 126, 255, 0.08);
	border-radius: 2px;
	border: 1px solid #c2e0ff;
	/* Fallback color for IE 8 */
	border: 1px solid rgba(0, 126, 255, 0.24);
	color: #007eff;
	display: inline-block;
	font-size: 0.9em;
	line-height: 1.4;
	margin-left: 5px;
	margin-top: 5px;
	vertical-align: top;
}

.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
	display: inline-block;
	vertical-align: middle;
}

.Select--multi .Select-value-label {
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	cursor: default;
	padding: 2px 5px;
}

.Select--multi a.Select-value-label {
	color: #007eff;
	cursor: pointer;
	text-decoration: none;
}

.Select--multi a.Select-value-label:hover {
	text-decoration: underline;
}

.Select--multi .Select-value-icon {
	cursor: pointer;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	border-right: 1px solid #c2e0ff;
	/* Fallback color for IE 8 */
	border-right: 1px solid rgba(0, 126, 255, 0.24);
	padding: 1px 5px 3px;
}

.Select--multi .Select-value-icon:focus,
.Select--multi .Select-value-icon:hover {
	background-color: #d8eafd;
	/* Fallback color for IE 8 */
	background-color: rgba(0, 113, 230, 0.08);
	color: #0071e6;
}

.Select--multi .Select-value-icon:active {
	background-color: #c2e0ff;
	/* Fallback color for IE 8 */
	background-color: rgba(0, 126, 255, 0.24);
}

.Select--multi.is-disabled .Select-value {
	background-color: #fcfcfc;
	border: 1px solid #e3e3e3;
	color: #333;
}

.Select--multi.is-disabled .Select-value-icon {
	cursor: not-allowed;
	border-right: 1px solid #e3e3e3;
}

.Select--multi.is-disabled .Select-value-icon:active,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:hover {
	background-color: #fcfcfc;
}
@keyframes Select-animation-spin {
	to {
		transform: rotate(1turn);
	}
}
@-webkit-keyframes Select-animation-spin {
	to {
		-webkit-transform: rotate(1turn);
	}
}

.select-search {
	float: right;
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
}
//react-search-inputs

.search-input {
	padding: 10px 1px;
	position: relative;
	float: left;
	width: 100%;
	height: 52px;
	display: flex;
	align-items: center;
}

.search-input::before {
	//content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAQJJREFUKBWVkr2uQUEUhf3ET6GRaC5aFRoJKrf1BKpb8SwqovYGXkCj00k0QnRKEYkILYobvpUYmeMMyVnJl7P3mjN7Zu9zwiGv2qRFyMMSRrAFp6JPN8XzBj+wgDkUYAg7WINTYdwpDECxrRLJHeq2accdkgm8bzTvNAg2EDOGeUYI1KNO1gkuzTA1g8T7ojbn4ONQWPuHPWgeHmnzCqoe15tkSNPgPEAn68oVcOmA2XMtGK9FoE/VhOTTVNExqLCGZnxCv2pYauEC6lF0oQxX6IOvb7yX9NPEQafan+aPXDdQC18LsO6Tip5BBY6gIQaSbnMCFRCBZRcIvFkbsvCr4AFGOCxQy+JdGQAAAABJRU5ErkJggg==');
	display: block;
	position: absolute;
	width: 15px;
	z-index: 3;
	height: 15px;
	font-size: 20px;
	top: 11px;
	left: 16px;
	line-height: 32px;
	opacity: 1;
}

.search-input > input {
	width: 100%;
	font-size: 18px;
	border: none;
	line-height: 22px;
	padding: 5px 10px 5px 30px;
	height: 32px;
	position: relative;
	align-items: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.search-input > input:focus {
	outline: none;
}

.footerBackground {
	color: black;
	position: relative;
	background-color: white;
	width: 100%;
	padding: 8px;
	border-radius: 2px;
	display: inline-block;
	overflow: auto;
	margin: 1rem;
	height: auto;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	@media only screen and (max-height : 600px) {
		max-height: 5vh;
	}
	@media screen and (min-height:600px) and (max-height:800px) {
		max-height: 8vh;
	}
	
}

.footerBackground:after {
	content: "";
	display: block;
}

.center {
	fill: rgb(98, 98, 98);
	position: relative;
}

.center svg {
	width: 64px;
	height: 64px;
	position: absolute;
	left: 50%;
	bottom: 0;
	-ms-transform: translate(-50%, 50%);
	/* IE 9 */
	-webkit-transform: translate(-50%, 50%);
	/* Safari */
	transform: translate(-50%, 50%);
}

.photoThumbnails {
	left: 50%;
	-ms-transform: translateX(-50%);
	/* IE 9 */
	-webkit-transform: translateX(-50%);
	/* Safari */
	transform: translateX(-50%);
}

.footer {
	position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: right;
	font-size: 60%;
	opacity: 0.5;
}
